name: Build Character GUI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
    contents: write

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m venv .venv
          source .venv/bin/activate
          pip install --upgrade pip
          pip install pyinstaller

      - name: Build Linux executable
        run: |
          source .venv/bin/activate
          pyinstaller --onefile --windowed main_tkinter.py
          mv dist/main_tkinter dist/main_validator-linux

      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: Latest build
          files: dist/main_validator-linux
          make_latest: true

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m venv .venv
          .venv\Scripts\activate
          pip install --upgrade pip
          pip install pyinstaller

      - name: Build Windows executable
        run: |
          .venv\Scripts\activate
          pyinstaller --onefile --windowed main_tkinter.py
          move dist\main_tkinter.exe dist\main_validator-windows.exe

      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: Latest build
          files: dist/main_validator-windows.exe
          make_latest: true
